@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Concert One", sans-serif;
}
body {
    background: white;
}
.startButton, .rulesBox, .quizScreen, .results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.rulesBox.activeRules,
.quizScreen.activeQuiz{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.startButton button {
    font-size: 45px;
    font-weight: 500;
    color: white;
    padding: 20px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(241, 199, 206);
    cursor: pointer;
}
.rulesBox {
    width: 540px;
    background: white;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0,9);

}

.rulesBox .rulesTitle {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;  
  display: flex;
  align-items: center;
  padding: 0 35px;
  font-size: 25px;
  font-weight: 600;
}

.rulesBox .ruleList {
    padding: 15px 35px;
}

.rulesBox .ruleList .rules {
margin: 5px 0;
font-size: 17px;
}

.rulesBox .ruleList .rule span {
    font-weight: 600;
    color:rgb(253, 200, 208);
}

.rulesBox .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.rulesBox .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid pink;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;

}

.buttons button.restart{
    background: pink;
    color: white;
}
.buttons button.restart:hover{
    background:rgb(219, 165, 173);
}

.buttons button.quit{
    background: pink;
    color: white;
}
.buttons button.quit:hover{
    background:rgb(219, 165, 173);
}

.quizScreen{
    width: 550px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 1px grey;

    /*hmmmm */
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0,9);
}


.quizScreen header{
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px grey;
}

.quizScreen header .title {
    font-size: 20px;
    font-weight: 600px;

}

.quizScreen header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: rgb(252, 214, 220);
    border: 1px solid rgb(144, 170, 144);
    border-radius: 5px;
    padding: 0 8px;

}

.quizScreen header .timer .timeLeft {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quizScreen header .timer .timerSeconds {
    font-size: 18px;
    font-weight: 500;
    background: rgb(54, 54, 54);
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(54, 54, 54);
    user-select: none;
}

.quizScreen section {
    padding: 25px 30px 20px 30px;
    background: white;
}

.quizScreen section .questionText{
    font-size: 25px;
    font-weight: 600px;
}

.quizScreen section .choices {
    padding: 20px 0;
    display: block;
}

section .choices .choice {
    background: rgb(252, 214, 220);
    border: 1 px solid white;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 17px;
    transition: all .3s ease;
}

section .choices .choice:hover{
    color:pink;
    background: rgb(144, 165, 144);
    border-color: black;
}

.choices .choice:last-child{
    margin-bottom: 0;
}

.choices .choice .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}
.choices .choice .icon.tick {
    border-color: green;
    color: green;
    background: rgb(130, 219, 130);
}
.choices .choice .icon.cross {
    border-color: rgb(128, 0, 0);
    color: rgb(128, 0, 0);
    background: rgb(243, 196, 196);
}
.choices .choice.correct{
    color: green;
    background: rgb(174, 213, 174);
    border: green;
}.choices .choice.incorrect{
    color: red;
    background: rgb(159, 62, 62);
    border: red;
}
.choices .choice.disabled{
    pointer-events: none;
}

.quizScreen footer {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.quizScreen footer .questionsLeft span {
    display: flex;
    user-select: none;
}
footer .questionsLeft span p {
    font-weight: 500;
    padding: 0 5px;
}

footer .questionsLeft span p:first-child{
    padding-left: 0px;
}
footer .nextButton {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    background: rgb(144, 170, 144);
    border-radius: 5px;
    border: 1px solid rgb(117, 136, 117);
    cursor: pointer;
    transition: all .3s ease;
}
footer .nextButton:hover{
    background:rgb(219, 165, 173);
}
.results {
    background: white;
    width: 500px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0,9);
}
.results .icon {
    font-size: 100px;
    color:rgb(219, 165, 173);
    margin-bottom: 10px;
}
.results .finished {
    font-size: 20px;
    font-weight: 500;
}
.results .score span {
    display: flex;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}
.score span p {
    font-weight: 600px;
    padding: 0 4px;
}
.results .buttons {
    display: flex;
    margin: 20px 0;
}
.results .buttons button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgb(219, 165, 173);
    cursor: pointer;
    transition: all .3s ease;
}