@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Concert One", sans-serif;
}
body {
    background: rgb(253, 200, 208);
}
.startButton, .rulesBox, .quizScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.startButton button {
    font-size: 45px;
    font-weight: 500;
    color: rgb(144, 170, 144);
    padding: 60px 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}
.rulesBox {
    width: 540px;
    background: white;
    border-radius: 5px;
    
}

.rulesBox .rulesTitle {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;  
  display: flex;
  align-items: center;
  padding: 0 35px;
  font-size: 25px;
  font-weight: 600;
}

.rulesBox .ruleList {
    padding: 15px 35px;
}

.rulesBox .ruleList .rules {
margin: 5px 0;
font-size: 17px;
}

.rulesBox .ruleList .rule span {
    font-weight: 600;
    color:rgb(253, 200, 208);
}

.rulesBox .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.rulesBox .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid pink;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;

}

.buttons button.restart{
    background: pink;
    color: white;
}
.buttons button.restart:hover{
    background:rgb(219, 165, 173)
}

.buttons button.quit{
    background: pink;
    color: white;
}
.buttons button.quit:hover{
    background:rgb(219, 165, 173);
    color: white;
}
.quizScreen {
    width: 550px;
    background: white;
    border-radius: 5px;
}
.quizScreen header {
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px black;
}
.quizScreen header .title{
    font-size: 20px;
    font-weight: 600;
}
.quizScreen header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: lightgrey;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 0 8px;
}
.quizScreen header .timer .timeLeft {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quizScreen header .timer .timerSeconds {
    font-size: 18px;
    font-weight: 500;
    background: rgb(99, 99, 99);
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(99, 99, 99);
    user-select: none;
}
.quizScreen section {
    
}
